<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        {% load tz %}
        {% get_current_timezone as TIME_ZONE %}
        User's TIMEZONE: {{ TIME_ZONE }}
        <br>
        {% now "Y-m-d H:i:s" as current_time %}
        Current Time: {{ current_time }}
        <br>
    {% endif %}
    <a href="{%url 'home' %}">Главная</a>
    {% if request.user.is_authenticated %}
            <li> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
            <a href="{%url 'user_orders'%}">Текущие заказы</a><br>
            {% if getUserRole == 'customer' %}
                <a href="{%url 'add_review' %}"><li>Оставить отзыв</li></a>
            {% endif %}
            {% if not request.user.is_superuser %}
                <a href="{%url 'profile' %}">Профиль</a><br>
            {% endif %}
    {% else %}
            <a href="{% url 'register_customer' %}"><li>Регистрация для клиентов</li></a>
            <a href="{% url 'register_employee' %}"><li>Регистрация для сотрудников</li></a>
            <a href="{% url 'login' %}"><li>Войти</li></a>
    {% endif %}
    <a href="{%url 'reviews' %}">Отзывы</a><br>
    <a href="{%url 'products' %}">Каталог товаров</a><br>
    <a href="{%url 'vacancies' %}">Вакансии</a> | <a href="{%url 'about' %}">О компании</a> | <a href="{%url 'contacts' %}">Контакты продавцов</a><br>
    <a href="{%url 'terms' %}">FAQ</a><br>
    <a href="{%url 'privacy_policy' %}">Политика конфиденциальности</a>
    <br><br>
    <a href="{%url 'cat_facts' %}">Факты о котах</a> |
    <a href="{%url 'random_joke' %}">Случайная шутка</a>
    <br>
    <a href="{%url 'statistics' %}">Статистика</a>
    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content%}{% endblock content %}</div>
</body>
</html>