{% extends "base.html" %}
{% block content %}
<h2>Корзина</h2>
{% if cart and cart.items.exists %}
    <form method="post">
        {% csrf_token %}
        <ul>
        {% for item in cart.items.all %}
            <li>
                {{ item.product.name }} - 
                <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1" max="{{ item.product.amount }}">
                <button formaction="{% url 'remove_from_cart' item.id %}" formmethod="post">Удалить товар</button>
            </li>
        {% endfor %}
        </ul>
        <button type="submit">Обновить корзину</button>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Оформить заказ</button>
    </form>
{% else %}
    <p>Корзина пуста. Добавьте товары для оформления заказа</p>
{% endif %}
{% endblock content %}