{% extends 'base.html' %}

{% block content %}
    <h1>Новости</h1>
    <div class="news-list">
        {% for article in all_news %}
            <div class="article-preview">
                <h2>{{ article.title }}</h2>
                <img src="{{ article.image.url }}" alt="{{ article.title }}" style="width: 300px; height: auto;">
                <p>{{ article.content|truncatewords:5 }}...</p>
                <a href="{% url 'article_detail' article.id %}" class="read-more-btn">Читать далее</a>
            </div>
        {% empty %}
            <p>Статей пока нет.</p>
        {% endfor %}
    </div>
{% endblock %}
