{% extends "base.html" %}
{% block title %}Products{% endblock title %}
{% block header %}Products{% endblock header %}

{% block content %}
{% for product in products %}
    <div>
        <p>name: {{ product.name }}
        <p>categories:</p>
        {% for category in product.category.all %}
                <p> {{ category.name }} </p>
        {% endfor %}
        <p>price: ${{ product.price }}</p>
        <p>amount: {{ product.amount }}</p>
        <p>producer:{{ product.employee.username }}</p>
        {% comment %}
            <form action="{% url 'create_order' product.name %}" method="get">
                <button type="submit">Buy</button>
            </form>
        {% endcomment %}
        <form method="post" action="{% url 'add_to_cart' product.name %}">
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
        </form>
    </div>
{% endfor %}
{% endblock content %}