{% extends "base.html" %}
{% block title %}Terms{% endblock title %}
{% block header %}Terms{% endblock header %}

{% block content %}
<section translate="yes">
    <section>
        {% for term in all_terms%}
            <article>
                <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px; margin-top: 20px">
                    <p>Question: {{ term.question }}</p>
                    <details>
                        <summary>
                            "Description
                        </summary>
                        <p>Answer: {{ term.answer }}</p>
                    </details>

                    <p>Date of Publication: <time datetime="{{ term.date }}">{{ term.date }}</time></p>
                    </a>
                </div>
            </article>
        {% endfor %}
    </section>
</section>
{% endblock %}